---
import { TECHNOLOGIES } from "@/consts/technologies";
---

<main class="px-4 pt-6 pb-12">
  <h2 class="my-6 font-bold text-white text-2xl text-center">
    My Favorite Technologies
  </h2>

  <div class="gap-2 grid grid-cols-3 grid-rows-2 w-full">
    {
      TECHNOLOGIES.map(
        ({ name, image, url, bentoPosition, backgroundColor }) => (
          <a
            href={url}
            target="_blank"
            rel="noopener noreferrer"
            aria-label={`Ir a la página de ${name}`}
            title={`Ir a la página de ${name}`}
            class:list={[
              "group relative flex flex-col items-start rounded-3xl min-h-[180px] overflow-hidden text-white hover:scale-105 transition hover:contrast-125",
              bentoPosition?.cols &&
                bentoPosition?.rows &&
                `col-span-${bentoPosition.cols} row-span-${bentoPosition.rows}`,
              backgroundColor,
            ]}
          >
            <span class="top-4 left-4 absolute font-bold text-xl">{name}</span>
            <image.logo class="right-2 bottom-2 absolute size-16 -rotate-6 group-hover:-rotate-12 group-hover:scale-125 transition-transform" />
          </a>
        )
      )
    }
  </div>
</main>
